<br>
<hr />
<br>
<table>
    <tr>
        <td>Descripcion: </td>
        <td><input name="descripcion" type="text" [(ngModel)]="productos.descripcion" /></td>
    </tr>
    <tr>
        <td>Unidad Medida: </td>
        <td><input name="unidadMedida" type="text" [(ngModel)]="productos.unidadMedida" /></td>
    </tr>
    <tr>
        <td>Tipo Producto: </td>
        <td><input name="tipoProducto" type="text" [(ngModel)]="productos.tipoProducto" /></td>
    </tr>
    <tr>
        <td>Stock: </td>
        <td><input name="stock" type="text" [(ngModel)]="productos.stock" /></td>
    </tr>
    <tr>
        <td>Valor Venta: </td>
        <td><input name="valorVenta" type="text" [(ngModel)]="productos.valorVenta" /></td>
    </tr>

</table>
<hr />
<table>
    <tr>
        <td><button (click)="guardar()"> Guardar </button> </td>
        <td><button (click)="limpiarFormulario()"> Limpiar Formunario </button> </td>
    </tr>
</table>
<hr />
<table class="greenTable">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Unidad Medida</th>
            <th>Tipo Producto</th>
            <th>Stock</th>
            <th>Valor Venta</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productos of listaProductos">
            <td>{{productos.descripcion}}</td>
            <td>{{productos.unidadMedida}}</td>
            <td>{{productos.tipoProducto}}</td>
            <td>{{productos.stock}}</td>
            <td>{{productos.valorVenta}}</td>
            <td><button (click)="eliminar(productos._id)"><img src="../../../assets/img/eliminar.png"></button></td>
            <td><button (click)="mostrar(productos)"><img src="../../../assets/img/lapiz.png"></button></td>
        </tr>
        <tr></tr>
    </tbody>
</table>